/* Navbar tekst wit maken*/
#nav-tekst {
    color: white ;
  }

  /* om de body gray te maken */
  body {
    background-color: gray;
  }

  /*  Om de cards gray te maken*/
  .card {

    background-color: gray;
  }
  
  