/* om de body gray te maken */
body {
    background-color: gray ;
  }

 /* om de tekst in het hele bestand wit te maken */
  .text {    
    color: black; 
  }

  /* Navbar tekst wit maken*/
  #nav-tekst {
    color: white ; 
  }